@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

.CardContainer {
    max-width: 700px;
    height: 395px;
    width: 100%;
    .CardHeader {
        background-color: black;
        position: relative;
        height: 80px;
        .Avatar_image {
            position: absolute;
            border-radius: 50%;
            top: 20px;
            left: 10px;
            @media screen and (max-width: 535px) {
                width: 100px !important;
                height: 100px !important;
            }
            @media screen and (max-width: 475px) {
                width: 30px !important;
                height: 30px !important;
            }
        }
        .message_icon {
            position: absolute;
            right: 25.8px;
            top: 19px;
            @media screen and (max-width: 375px) {
                right: 10px;
                bottom: 5px;
            }
        }
        .CardTitle {
            text-transform: capitalize;
            font-size: 24px;
            color: white;
            font-weight: 600;
            font-family: "Montserrat", sans-serif;
            position: absolute;
            bottom: 0;
            left: 200px;
        }
    }
    .CardContent {
        padding: 10px;
        .CardReferrals {
            display: flex;
            flex-direction: row;
            text-align: left;
            margin-left: 200px;
            align-items: center;
            position: relative;
            margin-bottom: 80px;
            @media screen and (max-width: 535px) {
                margin-left: 30%;
            }
            @media screen and (max-width: 475px) {
                margin-left: 0;
                display: flex;
                justify-content: center;
            }
            .ReferralsTitle {
                display: flex;
                flex-direction: column;
                font-size: 18px;

                .TitleTopic {
                    color: black;
                    text-transform: capitalize;
                    font-weight: 600;
                }
                .TitleLink {
                    color: #8aa8ed;
                    text-transform: capitalize;
                    font-weight: 600;
                }
                @media screen and (max-width: 375px) {
                    font-size: 16px;
                }
            }
            .ReferralsCount {
                display: flex;
                flex-direction: column;
                position: absolute;
                right: 0;
                color: red;
                font-size: 16px;
                @media screen and (max-width: 535px) {
                    position: relative;
                    margin-left: 10px;
                }
                @media screen and (max-width: 375px) {
                    font-size: 14px;
                }
                .total {
                    color: black;
                }
            }
        }
    }
    .AboutMe {
        .AboutTitle {
            font-size: 24px;
            font-weight: 600;
            font-family: "Montserrat", sans-serif;
            font-weight: bold;
        }
        .AboutContent {
            word-wrap: break-word;
            font-size: 18px;
        }
    }
}
