.withbody {
    width: 1100px;
    height: 650px;
    display: flex;
    align-items: center;
    position: relative;
    background-size: cover;
    background-position: center;
    flex-direction: column;
    .withtitle {
        font-weight: 700;
        font-size: 40px;
        margin: 70px 0;
        line-height: 50px;
        text-align: center;
        color: #00a8dd;
    }
}
.withsubtoptext {
    font-weight: 700;
    font-size: 22px;
    width: 900px;
    line-height: 30px;
    color: #000;
    span {
        color: #00a8dd !important;
    }
}
.withsubtext {
    font-weight: 700;
    font-size: 22px;
    width: 900px;
    color: #000;
    margin-top: 50px;
}
.withBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 45px;
    background: #00a8dd;
    border-radius: 10px;
    font-family: Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
}
.withBtnOut {
    width: 900px;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    bottom: 50px;
}
@media screen and (max-width: 1130px) {
    .withbody {
        width: 98% !important;
    }
}

@media screen and (max-width: 970px) {
    .withsubtoptext,
    .withsubtext,
    .withBtnOut {
        width: 97% !important;
    }
}
@media screen and (max-width: 500px) {
    .withtitle {
        line-height: 40px !important;
    }
    .withBtnOut {
        position: relative !important;
        margin-top: 130px !important;
    }
    .withbody {
        height: auto !important;
    }
}
